body,
html {
  height: 100%;
  margin: 0;
}

/* Hero section */

.hero__container {
  background-image: url("https://www.strongdm.com/hubfs/Imported_Blog_Media/5f1d57d11bda1c9bb207d753_00124-sdm-bg-2000x1000-3.jpg");

  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text over the image */
.navbar__container {
  position: absolute;
  margin: 3vh 0;
}

.navbar__slogan {
  float: left;
  width: 30vw;
  margin-left: 12vw;
  font-size: 1.5rem;
}

.navbar__slogan > a {
  color: #ffd662ff;
}

.navbar__links {
  float: right;
  margin-left: 15vw;
}

.navbar__links > a:hover {
  color: #ffd662ff;
}

.navbar__link {
  list-style: none;
  color: white;
  text-decoration: none;
  padding: 0 0.5vw;
}

/* Body section */

/* First section */
.first__section__container {
  margin: 10vh 0;
  min-height: 60vh;
}

.title__container {
  text-align: center;
}

.title__container {
  margin-bottom: 10vh;
  font-weight: bold;
}

.services__container-section {
  text-align: center;
  min-width: 33vw;
}

/* .services__container-section > p {
max-width: 20ch; 
text-overflow: ellipsis;
} */

#services__container-first__section {
  float: right;
}

#services__container-second__section {
  float: right;
}

#services__container-third__section {
  float: right;
}

.services__container-image {
  max-width: 20vw;
  max-height: 20vh;
}

/* Second section */

/* no
RGBA
Box Shadow
Opacity
Rounded Corners
Attributes Selectors
Gradient Colors
Flex
Grid
MQ -- not sure
*/
