body,
html {
  height: 100%;
  margin: 0;
}

/* Hero section */

.hero__container {
  background-image: url("https://www.strongdm.com/hubfs/Imported_Blog_Media/5f1d57d11bda1c9bb207d753_00124-sdm-bg-2000x1000-3.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text over the image */
.navbar__container {
  position: absolute;
  margin: 3vh 0;
}

.navbar__slogan {
  float: left;
  width: 30vw;
  margin-left: 12vw;
  font-size: 1.5rem;
}

.navbar__links {
  float: right;
  margin-left: 15vw;
}

.navbar__links > a:hover {
  color: #ffd662ff;
}

.navbar__link {
  list-style: none;
  color: white;
  text-decoration: none;
  padding: 0 0.5vw;
}

/* Body section */

/* First section */
.first__section__container {
  margin: 13vh 0;
  min-height: 35vh;
}

.title__container {
  text-align: center;
}

.title__container {
  margin-bottom: 10vh;
  font-weight: bold;
}

.first__section-section {
  text-align: center;
  min-width: 33vw;
}

#first__section-first__section {
  float: right;
}

#first__section-second__section {
  float: right;
}

#first__section-third__section {
  float: right;
}

.first__section-image {
  max-width: 20vw;
  max-height: 20vh;
}

/* Second section */
.second__section__container {
  padding: 12vh 10vw;
  min-height: 30vh;
  background-color: #f1f5f9;
}

.second__section__title-container {
  float: left;
  max-width: 50%;
}

.second__section__title-container > p {
  max-width: 60ch;
  font-size: large;
}

.second__section__discription-section {
  float: right;
  max-width: 50%;
}

.second__section__discription-image__container {
  float: left;
  margin-top: 5vh;
}
.second__section__discription-title {
  float: right;
  max-width: 90%;
}

.second__section__discription-title > p {
  max-width: 80ch;
  text-overflow: ellipsis;
}

.second__section__discription-image {
  max-width: 5vw;
  max-height: 5vh;
}

.second__section-btn {
  font-size: 0.8rem;
  padding: 0.5rem 0.4rem;
  color: #40a4ed;
  background-color: transparent;
  border: 0.5px solid #40a4ed;
  cursor: pointer;
}

#second__section__discription-btn {
  float: right;
}

/* Third Section */
.third__section__container {
  margin: 10vh 0;
  min-height: 15vh;
}

.third__section-contents {
  text-align: center;
  max-width: 20%;
  padding-left: 40%;
}

.third__section-contents > h3 {
  width: 25%;
}

#title__container-subtitle__third__section {
  color: gray;
}

#third__section-contents-first__element {
  float: left;
  color: #0c69c7;
  cursor: pointer;
  text-decoration: underline;
}

#third__section-contents-second__element {
  float: right;
}

#third__section-contents-third__element {
  float: right;
}

#third__section-contents-fourth__element {
  float: right;
}

/* Images Section */
.images__container {
  height: 80vh;
  background-color: #c2c8ce;
}

.images__column {
  width: 33vw;
}

.images__column > img {
  width: 100%;
  height: 40vh;
}

#images__column-first {
  float: left;
}

#images__column-second {
  float: right;
}

#images__column-third {
  float: right;
}

#images__column-third > img {
  height: 80.5vh;
}

/* Fifth Section */
.fifth__section-container {
  height: 13vh;
  background-color: #0c69c7;
  color: #fff;
  text-align: center;
  padding-left: 30%;
  padding-top: 4.5%;
}

.fifth__section-container > h2 {
  float: left;
  margin: 0;
}

.fifth__section-btn_container {
  float: right;
  width: 50%;
}

.fifth__section-btn_container > button {
  background-color: transparent;
  color: white;
  float: left;
  padding: 0.5em 2em;
  border: 0.01em solid white;
  cursor: pointer;
}

/* Sixth Section */
.sixth__section__container {
  padding-top: 7vh;
  height: 20vh;
  background-color: #f1f5f9;
  color: #6c6c6e;
}

/* People Section */
.people__container {
  height: 40vh;
}

.person {
  width: 25%;
}

.person > img {
  height: 40vh;
  width: 100%;
}

#person__img-first {
  float: left;
}

#person__img-second {
  float: right;
}

#person__img-third {
  float: right;
}

#person__img-fourth {
  float: right;
}

/* Eighth Section */
.eighth__section-container {
  height: 25vh;
  background-color: #f1f5f9;
  padding: 5vh 8vw;
}

.eighth__section-title {
  float: left;
  width: 43%;
  padding-left: 5vw;
}

.eighth__section-title > h2 {
  padding-bottom: 1.5vh;
  padding-top: 0.5vh;
}

.eighth__section-title > p {
  color: #6c6c6e;
  max-width: 60ch;
}

.eighth__section-description {
  float: right;
  width: 40%;
  padding-right: 7vw;
}

.eighth__section-description > h3 {
  padding-bottom: 0.6em;
}

#eighth__section-subtitle-first {
  border-bottom: 0.3em solid #65049ed9;
  padding-top: 2vh;
}

#eighth__section-subtitle-second {
  border-bottom: 0.3em solid #373ad3d9;
}

#eighth__section-subtitle-third {
  border-bottom: 0.3em solid #9e046bd9;
}

/* Nineth Section  */
.nineth__section__container {
  margin: 13vh 0;
  min-height: 15vh;
  color: #6c6c6e;
}

/* Tenth Section */
.tenth__section-cotainer {
  height: 45vh;
  margin-bottom: 12vh;
  padding: 7vh 10vw;
}

.tenth__section-column {
  width: 26vw;
}

.tenth__section-title {
  background-color: #f1f5f9;
}

.tenth__section-title > h3,
.tenth__section-title > p,
.tenth__section-title > a {
  padding-left: 1vw;
}

.tenth__section-title > h3 {
  padding-top: 4vh;
}

.tenth__section-title > p {
  max-width: 53ch;
}

.anchorTag {
  color: #0c69c7;
  cursor: pointer;
  display: inline-block;
  margin-top: 2vh;
}

.tenth__section-column > img,
.tenth__section-title {
  width: 95%;
  height: 22vh;
  margin-bottom: 1.8vh;
}

.tenth__section-title > h3 {
  margin: 0;
}

#tenth__section-column-first {
  float: left;
}

#tenth__section-column-second {
  float: right;
  margin-right: 0.5vw;
}

#tenth__section-column-third {
  float: right;
}

/* Eleventh Section */
.eleventh__section__container {
  padding-top: 10vh;
  height: 50vh;
  background-color: #f1f5f9;
}

#eleventh__section-title {
  color: #6c6c6e;
}

#eleventh__section-subtitle {
  max-width: 120ch;
  padding: 9vh 0 3vh 12vw;
}

#eleventh__anchorTag {
  font-weight: bolder;
  font-size: larger;
}

/* Twelfth Section */
.twelfth__section-container {
  height: 47vh;
  padding: 6vh 10vw 0 10vw;
}

.twelfth__section-title {
  float: left;
  width: 50vw;
}

.twelfth__section-title > h1 {
  font-size: 3rem;
}

.twelfth__section-title > p {
  color: #c1c1c2;
  max-width: 90ch;
}

.twelfth__section-img__container {
  float: left;
  padding-top: 8vh;
  height: 100%;
}

.twelfth__section-img__container > img {
  width: 20vw;
  height: 82%;
}

.twelfth__section-title-img__container {
  padding-top: 8vh;
}

.twelfth__section-title-img-description {
  padding-left: 3vw;
  color: #c1c1c2;
  font-weight: bold;
}

.twelfth__section-title-img__container > img {
  width: 3em;
  height: 3em;
  float: left;
}

/* Footer */

/* Sponsers section */
.sponsers__container {
  max-height: 20vh;
  padding: 5vh 5vw;
  background-color: #f1f5f9;
  text-align: center;
}

.sponser__img {
  max-width: 15vw;
  max-height: 15vh;
  padding: 0 4vw;
}

/* Progress section */
.progress__container {
  min-height: 20vh;
  background-color: #0c69c7;
}

.progress__title-container {
  padding-top: 3.5vh;
  width: 50%;
  text-align: center;
  color: #fff;
  float: left;
}

.progress__title-container > h2 {
  padding-left: 2.5vw;
  margin-bottom: 0;
}

.progress__img-container {
  width: 50%;
  float: right;
}

.progress__img {
  height: 20vh;
  width: 30%;
  padding-left: 10vw;
}

/* Footer body */
.footer__container {
  min-height: 40vh;
  background-color: #000;
  color: #fff;
}

.footer__column-container {
  text-align: center;
  width: 33vw;
}

.footer__column-container > h3 {
  font-weight: bolder;
  font-size: 1.3rem;
}

.footer__column-container > p {
  text-align: left;
  max-width: 52ch;
  float: right;
  color: #c1c1c2;
}

#footer__column-first {
  float: left;
  padding-top: 1vh;
}

#footer__column-first > h3 {
  padding-right: 10vw;
}

#footer__column-first > p {
  padding-right: 5.2vw;
}

#first__footer__column-footer {
  padding-top: 18%;
  margin-right: 2.9vw;
}

#footer__column-second {
  float: right;
}

#second__footer__column-first,
#second__footer__column-third {
  text-align: left;
  padding-right: 25%;
}

#second__footer__column-second {
  max-width: 43ch;
  padding-right: 11.2%;
}

#footer__column-third {
  float: right;
}

#footer__column-third > ul {
  list-style: none;
}

#footer__column-third > ul > li {
  color: #c1c1c2;
  line-height: 1.7em;
  text-align: left;
  cursor: pointer;

  padding-left: 32%;
}

#footer__column-third > ul > li:hover {
  color: white;
}